Filtre nom du pokemon :
<input [(ngModel)]= "searchPokeName" >
<br>

Pokemon choisi #{{selectedPokeId}} 
<br>
<select [(ngModel)]="selectedPokeId">
    <option [value]="poke.id" 
    *ngFor="let poke of pokes | filterPokemonPipe : 'name':searchPokeName" >{{poke.name}}</option>
</select>

<button (click)="go()">Afficher</button>

<br>

<div *ngIf="pokeDetail">
    <br>
    <img [src]="urlImage"/>
    <br>
    <app-pokedetail [detail]="pokeDetail"></app-pokedetail>
</div>

<br>

Ma liste de pokemon disponible :
<ul>
    <li *ngFor="let poke of pokes">{{poke.name}}</li>
</ul>

